<div style="color:blue;">
    <h1> US TimeZone Display </h1>
</div>
<section>
    <button (click)="getDate('PST')" [ngClass]="{selected: TimeZoneSelected === 'PST'}">PST</button>
    <button (click)="getDate('MST')" [ngClass]="{selected: TimeZoneSelected === 'MST'}">MST</button>
    <button (click)="getDate('CST')" [ngClass]="{selected: TimeZoneSelected === 'CST'}">CST</button>
    <button (click)="getDate('EST')" [ngClass]="{selected: TimeZoneSelected === 'EST'}">EST</button>
  </section>
  <section>
    <h1>{{time | date:"short"}}</h1>
  </section>
  
 