div{
    height: 100px;
    text-align: center;
    /* width: 400px;
    margin-left: 800px; */

}
section {
    height: 100px;
    text-align: center;
}
button {
    width: 100px;
    height: 50px;
    margin-left: 75px;
    font-size: 1.5em;
    font-weight: bold;
}
.selected {
    background-color: yellow;
}