div.wrapper {
    width: 1350px;
    height: 100px;
    text-align: center;
}

div.switches {
    display: inline-block;
}
button {
    width: 80px;
    height: 80px;
    background-color: red;

}
button.on {
    background-color: green;
}
